<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>SpaceX Crew</title>
  </head>
  <body>
    <div class="container">
      <div class="container p-3">
        <img src="./assets/spacex.jpg" class="img-fluid" alt="SpaceX">
      </div>
      <div *ngFor = "let item of mydata" class="row gy-5">
        <div class="col-sm-6 col-md-4">
          <div class="container">
            <div   class="card text-center">
              <h4 class="card-header">
                {{item['name']}}
              </h4>
              <div class="card-body">
                <h5 class="card-title">{{item['agency']}}</h5>
                <p class="card-text"> </p>
                <a href="{{item['wikipedia']}}" class="btn btn-primary" target="_blank">Wikipedia</a>
              </div>
              <div class="card-footer text-muted">
      {{item['status']}}
              </div>
            </div>
          </div>
        </div>

       
      </div>
    </div>    
  </body>
</html>
